*.iml
.gradle/
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
local.properties

# Android Studio generated
*.hprof
.navigation/

# Keystore files
*.jks
*.keystore
